@font-face {
    font-family: 'ark';
    src: url(./fonts/ark.otf);
}

@font-face {
    font-family: 'avenir';
    src: url(./fonts/avenir.otf);
}

* {
    box-sizing: border-box;
}

body, html {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;  
}

.overlay-text {
    position: fixed;
    top:0;
    left:0;

    display: flex;

    font-family: 'ark';
    font-size: 3em;
    padding: 16px;

    color: white;
    mix-blend-mode: difference;

    pointer-events: none;    
}

.overlay-text > span {
    text-orientation: mixed;
    writing-mode: vertical-lr;
}

.sm {
    font-size: 22px;
}

#qr_code {
    position: fixed;
    width: 64px;
    height: 64px;
    
    right: 0px;
    bottom: 0px;
    
    margin: 16px;
}

button {
    padding: 8px;
    
    background-color: white;
    border: solid 2px black;
    border-radius: 8px;

    font-family: 'avenir';

    display: flex;
    align-items: center;
    gap: 4px;
}

button.big {
    font-size: 1.2em;
}

#take-screenshot {
    position: fixed;
    width: auto;

    left: 50%;
    bottom: 16px;

    transform: translate(-50%, 0);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: none;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 8px;

    z-index: 10;
}

#overlay.active {
    display: flex;
}

#overlay>img {
    width: 100vw;
    height: 100vh;

    z-index: 0;

    position: absolute;
    left: 0;
    top: 0;
    
    object-fit: cover;
}

#overlay>button {
    position: relative;
    z-index: 1;
}

.mindar-ui-overlay, .mindar-ui-scanning {
    pointer-events: none;
}