/* General styles */

html, body {
    margin: 0;
    padding: 1em;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

hr {
    margin-top: 25px;
}

#logs {
    margin-top: 1em;
    padding: 1em;
    background-color: #333;
    color: #AAA;
    overflow: auto;
    height: 150px;
    border: 1px solid #666;
}

button:not(h3 button, #regie-buttons button) {
    min-width: 128px;
    min-height: 64px;
    font-size: 22px;
}

input[type="text"], textarea {
    min-height: 64px;
    min-width: 128px;
    font-size: 22px;
}

.input_field {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 8px 0;
}

input[type="checkbox"] {
    width: 64px;
    height: 64px;
}

label {
    font-size: 22px;
}

h2 {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 32px;

    white-space: nowrap;

    margin-top: 64px;
}

h2::after {
    content: '';
    width: 100%;
    height: 2px;

    background-color: #FFF;
}

h3 {
    font-size: 22px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 16px 0 8px 0;
}

h3 button {
    background-color: #333;
    color: #AAA;
    border: 2px solid #666;
    border-radius: 50%;
    font-size: 16px;
    aspect-ratio: 1/1;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.delete {
    background: #5f0000;
    color: white;
    cursor: crosshair;
}

#regie {
    /* pointer-events: none;
    opacity: 0.5; */
}

#regie.active {
    pointer-events: all;
    opacity: 1;
}

#regie-buttons {
    display: flex;
    width: 100%;
    gap: 8px;
}

#reload-event {
    pointer-events: all;
}

#regie-buttons button, #sendmessage-send {
    width: 100%;
    height: 64px;
    border: solid 2px white;
    background-color: #111;
    color: white;
    font-size: 22px;

    cursor: crosshair;
}

#regie-buttons button:hover {
    background-color: #333;
}

#regie-events, #regie-events>* {
    width: 100%;
    display: flex;
    gap: 8px;
    flex-direction: column;
}

#regie-events .send {
    width: 100%;
    height: 64px;
    border: solid 2px white;
    background-color: #123a05;
    color: white;
    font-size: 22px;
    cursor: crosshair;
}

#regie-events>div {
    display: none;
    padding: 16px 0;
}

#regie-events>div.active {
    display: flex;
}

/* Tables */

.db table {
    width: 100%;
    border: 1px solid #666;
    text-align: left;
}

.db table th {
    background-color: #333;
    color: #AAA;
    padding: 5px;
}

.db table td {
    padding: 5px;
}

.db table tr:nth-child(odd) {
    background-color: #111;
}

/* ///////////////////////////////////// */
/* SMS */
/* //////////////////////////////////////// */


.hidden {
    display: none;
}
.contain {
    max-width: 200px;
}
.flex{
    display: flex;
    flex-flow: wrap;
}
fieldset.contain *{
    padding: 3px;
    margin: 2px;
}

/* User events */

#grp {
    width: 128px;
    height: 32px;
    margin: 8px 0;
}

#color-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

#color-list>div {
    width: 128px;
    height: 64px;
}

#color-list>div.selected {
    outline: solid 3px #FFF;
}

#image-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

#image-list>img {
    max-width: 128px;
    max-height: 128px;
}

.new-message-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#input_addtext, .input_text_item {
    display: flex;
    flex-wrap: nowrap;
    gap: 8px;
}