/* Anonymity mask */
/* */

#anonymity-container {
    width: 100%;
    height: 100%;
    position: relative;
}

#anonymity-container>* {
    position: absolute;
    width: 150px;
    height: 150px;
    user-select: none;
}

#anonymity-mask {
    cursor: pointer;
    z-index: 2;
}

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#anonymity-slider {
    width: 100%;
}

/* Choose your tribe */
/* */

#tribe-container {
    position: relative;
    margin: auto auto;
    width: 100%;
    height: 100%;
}

#tribe-canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-height: 100%;
    object-fit: contain;

    aspect-ratio: 1/1;
    transform: translate(-50%, -50%);
}

/* Weirdness */
/* */

#slider-weirdness {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 64px;

    -webkit-appearance: none;
    height: 6px;
    background: var(--color-background);
    outline: solid 1px var(--color-primary);
}

#slider-weirdness::-webkit-slider-thumb, #slider-weirdness::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 22px;
    height: 22px;
    background: var(--color-primary);
    border: solid 1px var(--color-background);
    cursor: pointer;
}

/* Results */
/* */

#create-avatar-preview, #change-avatar-container {
    height: fit-content;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
    padding: 16px 0;
    overflow-y: auto;
}

#create-avatar-preview>*, #change-avatar-container>* {
    width: 100%;
}