/* Global */
/* */

* {

}

.title {
    margin: 0;
}

hr {
    width: 100%;
}

button {
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    background: #2E2E2E;
    padding: 8px;
    cursor: pointer;

    font-size: 18px;
    color: #D9D9D9;
}

/* Session */
/* */

.model-session {
    width: fit-content;
    background-color: #2E2E2E;
    border: solid 1px #D9D9D9;
    border-radius: 8px;
    padding: 8px;

    display: flex;
    flex-direction: column;
    gap: 4px;

    cursor: pointer;
}

.model-session .infos {
    display: flex;
    gap: 16px;
}

.model-session .infos>* {
    display: flex;
    align-items: center;
    gap: 4px;
}

/* Evenement */
/* */

.model-evenement {
    width: fit-content;
    background-color: #2E2E2E;
    border: solid 1px #D9D9D9;
    border-radius: 8px;
    padding: 8px;

    display: flex;
    flex-direction: column;
    gap: 4px;

    cursor: pointer;
}

.model-evenement .location-container {
    display: flex;
    align-items: center;
    gap: 4px;
}